# Necesario para desplegar servidor http del cliente por separado (ej: Vercel)
VITE_API_URL=http://localhost:3001/api

# Cloudinary (frontend upload)
VITE_CLOUDINARY_CLOUD_NAME=""
VITE_CLOUDINARY_UPLOAD_PRESET=""
VITE_CLOUDINARY_UPLOAD_FOLDER=""